 /* ---- 💫 https://github.com/LinuxBeginnings 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #DC758F;
active-foreground: #FDE4F7;
normal-background: #18131B;
normal-foreground: #FDE4F7;
urgent-background: #E1798F;
urgent-foreground: #FDE4F7;

alternate-active-background: #9F4D8F;
alternate-active-foreground: #FDE4F7;
alternate-normal-background: #18131B;
alternate-normal-foreground: #FDE4F7;
alternate-urgent-background: #18131B;
alternate-urgent-foreground: #FDE4F7;

selected-active-background: #E1798F;
selected-active-foreground: #FDE4F7;
selected-normal-background: #E1798F;
selected-normal-foreground: #FDE4F7;
selected-urgent-background: #E1798F;
selected-urgent-foreground: #FDE4F7;

background-color: #18131B;
background: rgba(0,0,0,0.7);
foreground: #FDE4F7;
border-color: #DC758F;

color0: #3F3A43;
color1: #613459;
color2: #703767;
color3: #773A6B;
color4: #A5586B;
color5: #A95B6B;
color6: #BC85AF;
color7: #F4D0EC;
color8: #AB91A5;
color9: #824576;
color10: #964A89;
color11: #9F4D8F;
color12: #DC758F;
color13: #E1798F;
color14: #FAB1E9;
color15: #F4D0EC;


}

